/*home page*/

body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }
 .container {
     flex: 1 0 auto;
 }

.slider_icons li{
	font-size: 50px;
	color: red;
}

/*the policy page*/
#policy h4 {
    font-size: 1.6rem;
    color: #223547;
    line-height: 26px;
    margin-bottom: 7px;
    font-family: 'Open Sans',sans-serif;
}

#disclaimer h1, #policy h1 {
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
}

#disclaimer h2, #policy h2 {
    font-size: 2rem;
    color: #223547;
    text-transform: uppercase;
    text-align: center;
}
/*contact page design*/
.mkdf-st-title {
    font-size: 2.3rem;
    line-height: 1.2;
    color: #223547;
    margin-bottom: 10px;
    line-height: 1.2;
    font-weight: 700;
}
.mkdf-st-text {
    display: block;
    font-size: 18px;
    color: #223547;
}
.mkdf-st-text h4{
    font-size: 1.3rem;
    line-height: 1.2;
    color: #223547;
    margin-bottom: 10px;
    line-height: 1.2;
    font-weight: 700;
}

.ncard {
    height: 200px; 
}

.box {
    border:1px solid gray;
    padding: 10px; 
    height: 200px;
    text-align: justify;
    margin-bottom: 10px; 
}

.box-g {
    border:1px solid gray;
    padding: 10px; 
    height: 250px;
    text-align: justify;
    margin-bottom: 10px; 
}
.box span, .box-g span {
    background-color: gray; 
    padding: 5px; 
    text-align: center;
    display: block;
    color: white; 
}
.design {

    text-align: center justify;
}